@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
  --main-orange: #D93F0B;
  --main-grey: #333;
  --main-greyBG: #efefef;
}

body{
  font-family: 'Poppins', sans-serif;
}




